# --- Core & Medical Imaging ---
numpy
pydicom
Pillow
nibabel

# --- Frontend ---
gradio==4.29.0
requests

# --- Backend ---
fastapi
uvicorn[standard]
python-multipart

# --- Background Tasks ---
celery
redis